{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Traininere „{{ project.name }}“{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}
    {% url "project-details" training_pass.project.id as detail_url %}
    {% breadcrumb training_pass.project.name detail_url %}
    {% url "show-trainings" training_pass.project.id as training_url %}
    {% breadcrumb "Training" training_url %}
    {% url "show-training" training_pass.project.id training_pass.id as show_training_url %}
    {% breadcrumb training_pass.name show_training_url %}
    {% url "inference" training_pass.project.id training_pass.id as inference_url %}
    {% breadcrumb "Inferenz" inference_url %}
{% endblock %}

{% block top %}
    <h1>Inferenz mit „{{ training_pass.name }}“</h1>
    <div class="space-x-4">
        <a class="button-standard" href="javascript:submit.click()">Starten</a>
        <a class="button-standard" href="{% url "show-training" training_pass.project.id training_pass.id %}">Trainingsdetails</a>
        <a class="button-standard button-inverted" href="{% url "show-trainings" training_pass.project.id %}">Zurück</a>
    </div>
{% endblock %}

{% block main %}
<div class="card">
    Lade Bilder hoch um diese klassifizieren zu lassen (*.jpg, *.zip).
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="hidden" value="submit" id="submit">
</form>
</div>
{% endblock %}