{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Nutzerdetails„{{ detail_user.name }}“{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Benutzer" "user-list" %}
    {% url "user-detail" detail_user.id as detail_url %}
    {% breadcrumb detail_user.username detail_url %}
{% endblock %}

{% block top %}
    <h1>Benutzer „{{ detail_user.username }}“</h1>
    <div class="space-x-4">
        <a class="button-standard" href="{% url "user-edit" detail_user.id %}">Einstellungen</a>
        <a class="button-inverted border-red text-red" href="{% url "user-delete" detail_user.id %}">Benutzer löschen</a>
    </div>
{% endblock %}

{% block main %}
    <div class="space-y-8 my-8">
    <section class="card">
        <div class="flex items-center space-x-4 mb-6">
            <img class="h-6 w-6" src="{% static "assets/icons/documents.svg" %}">
            <h3>Allgemeines</h3>
        </div>
        <table class="w-full md:w-1/2 xl:w-2/5">
            <tr>
                <td class="font-semibold">Benutzername</td>
                <td>{{ detail_user.username }}</td>
            </tr>
            <tr>
                <td class="font-semibold">ID</td>
                <td>{{ detail_user.id }}</td>
            </tr>
            <tr>
                <td class="font-semibold">Erstellt am</td>
                <td>{{ detail_user.created_at | date:"d.m.Y \u\m H:i"}}</td>
            </tr>
            <tr>
                <td class="font-semibold">Zuletzt geändert am</td>
                <td>
                    {% if detail_user.created_at|date:"U" == detail_user.updated_at|date:"U" %}
                        Noch nie bearbeitet
                    {% else %}
                        {{ detail_user.updated_at | date:"d.m.Y \u\m H:i" }}
                    {% endif %}
                </td>
            </tr>
        </table>
    </section>

{% endblock %}