{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Nutzer „{{detail_user.name}}“ bearbeiten{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Nutzer" "user-list" %}
    {% breadcrumb "Nutzer bearbeiten" %}
{% endblock %}

{% block top %}
    <h1>Nutzer Bearbeiten</h1>
{% endblock %}

{% block main %}
    <form class="ignore-breaks" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="space-x-4 mt-8">
            <a class="button-inverted" href="{% url "user-list" %}">&larr; Abbrechen</a>
            <input class="button-standard w-auto" type="submit" value="Nutzer bearbeiten"/>
        </div>
    </form>
{% endblock %}

