{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Benutzer{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Benutzer" "user-list" %}
{% endblock %}

{% block top %}
    <h1>Benutzer</h1>
    <a class="button-standard-add" href="{% url "user-create" %}">Benutzer hinzufügen</a>
{% endblock %}

{% block main %}
    <div class="space-y-4">
        {% for detail_user in detail_users %}
            <article class="card flex items-center justify-between">
                <h3>
                    {{ detail_user.username }}
                    {% if detail_user.id == user.id %}
                        <span class="text-text-gray">(ich)</span>
                    {% endif %}
                </h3>
                <div>
                    <a class="text-text-gray" href="{% url "user-detail" detail_user.id %}">Details</a> &bullet;
                    <a class="text-text-gray" href="{% url "user-edit" detail_user.id %}">Einstellungen</a> &bullet;
                    <a class="text-red" href="{% url "user-delete" detail_user.id %}">Löschen</a>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}