{% load static %}

<!DOCTYPE html>

<!-- TODO: Set lang within settings -->
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <title>SchoolNN - Login</title>
</head>
<body class="bg-primary font-sans h-screen w-fulltext-primary flex items-center justify-center">
    <main class="w-1/3 flex flex-col items-center">
        <img class="mb-8" src="{% static "assets/logo.svg" %}" alt="">
        <form class="card inputs-w-full" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" class="button-standard mt-8" value="Anmelden">
        </form>
    </main>
</body>
</html>