{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Trainingsdruchläufe in „{{ project.name }}“ vergleichen{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}
    {% url "project-details" project.id as detail_url %}
    {% breadcrumb project.name detail_url %}
    {% url "show-trainings" project.id as training_url %}
    {% breadcrumb "Training" training_url %}
    {% url "compare-trainings" project.id as compare_url %}
    {% breadcrumb "Vergleichen" compare_url %}
{% endblock %}

{% block top %}
    <h1>Trainingsdruchläufe in „{{ project.name }}“ vergleichen</h1>
    <div class="space-x-4">
        <a class="button-standard button-inverted" href="{% url "show-trainings" project.id %}">Zurück</a>
    </div>
{% endblock %}

{% block main %}
<div>
    <div class="card">
        <h3>Verlust</h3>
        <canvas id="trainingAndValidationLoss"></canvas>
    </div>
    <br>
    <div class="card">
        <h3>Genauigkeit</h3>
        <canvas id="trainingAndValidationAccuracy"></canvas>
    </div>
</div>
<!--Nice colors: view-source:https://www.chartjs.org/samples/latest/utils.js -->
<script src="/public/js/chart.js_2.9.4.js"></script>
<script>
    var lossGraphCanvas = document.getElementById("trainingAndValidationLoss").getContext("2d");
    var lossChart = new Chart(lossGraphCanvas, {
        type: 'line',
        data: {
            labels: {{ x_values }},
            datasets: [
                {% for tpd in training_pass_details %}
                {
                    label: 'Training Loss {{tpd.training_pass.name}} #{{tpd.training_pass.id}}',
                    backgroundColor: 'rgb(255, 159, 64)',  // orange
                    borderColor: 'rgb(255, 159, 64)',
                    fill: false,
                    data: {{ tpd.y_values_training_loss }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                },
                {
                    label: 'Validation Loss {{tpd.training_pass.name}} #{{tpd.training_pass.id}}',
                    backgroundColor: 'rgb(54, 162, 235)',  // blue
                    borderColor: 'rgb(54, 162, 235)',
                    fill: false,
                    data: {{ tpd.y_values_validation_loss }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                },
                {% endfor %}
            ],
            options: {
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        }
    })


    var accuracyGraphCanvas = document.getElementById("trainingAndValidationAccuracy").getContext("2d");
    var accuracyChart = new Chart(accuracyGraphCanvas, {
        type: 'line',
        data: {
            labels: {{ x_values }},
            datasets: [
                {% for tpd in training_pass_details %}
                {
                    label: 'Trainingsgenauigkeit {{tpd.training_pass.name}} #{{tpd.training_pass.id}}',
                    backgroundColor: 'rgb(255, 159, 64)',  // orange
                    borderColor: 'rgb(255, 159, 64)',
                    fill: false,
                    data: {{ tpd.y_values_training_accuracy }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                },
                {
                    label: 'Validierungsgenauigkeit {{tpd.training_pass.name}} #{{tpd.training_pass.id}}',
                    backgroundColor: 'rgb(54, 162, 235)',  // blue
                    borderColor: 'rgb(54, 162, 235)',
                    fill: false,
                    data: {{ tpd.y_values_validation_accuracy }},
                    borderWidth: 1,
                    pointBorderWidth: 0,
                },
                {% endfor %}
            ],
            options: {
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        }
    })
</script>
{% endblock %}