{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Training „{{ training_pass.name }}“{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}
    {% url "project-details" project.id as detail_url %}
    {% breadcrumb project.name detail_url %}
    {% url "show-trainings" project.id as training_url %}
    {% breadcrumb "Training" training_url %}
    {% url "show-training" project.id training_pass.id as show_training_url %}
    {% breadcrumb training_pass.name show_training_url %}
{% endblock %}

{% block top %}
    <h1>Training „{{ training_pass.name }}“ </h1>
    <div class="space-x-4">
        <a class="button-standard" href="{% url "inference" project.id training_pass.id%}">Inferenz</a>
        {% if training_pass.status == 'running' %}
        <a class="border-red text-red button-inverted" href="{% url "stop-training" project.id training_pass.id %}">Stop</a>
        {% elif training_pass.status == 'finished' or training_pass.status ==  'stopped' %}
        <a class="border-standart text-standart button-inverted" href="{% url "continue-training" project.id training_pass.id %}">Fortsetzen</a>
        {% endif %}
        {% if training_pass.status == 'stopped' %}
        <a class="border-red text-white button-inverted" href="{% url "delete-training" project.id training_pass.id %}">Löschen</a>
        {% else %}
        <!--a class="border-disabled text-disabled button-disabled" project.id training_pass.id %}">Löschen</a-->
        {% endif %}
        <a class="button-standard button-inverted" href="{% url "show-trainings" project.id %}">Zurück</a>
    </div>
{% endblock %}

{% block main %}
{% with metrics=training_pass.latest_training_step_metrics %}
<div>
    {% if metrics == None %}
        <article class="card">
            <h3>Oh wow!</h3>
            <p>Für dieses Training sind noch keine Metriken vorhanden.</p>
        </article>
        <br>
    {% else %}
    <div class="card">
        Status: {{ training_pass.status_human_readable }}<br>
        {% if training_pass.training_parameter.termination_condition.epochs %}
            Epoche: {{ training_pass.epoche }} / {{ training_pass.training_parameter.termination_condition.epochs }} <br>
        {% else %}
            Epoche: {{ training_pass.epoche }}<br>
        {% endif %}
        {% if training_pass.training_parameter.termination_condition.seconds %}
            Dauer: {{ training_pass.duration_human_readable }} / {{ training_pass.training_parameter.termination_condition.time_human_readable }} <br>
        {% else %}
            Dauer: {{ training_pass.duration_human_readable }}
        {% endif %}
        
    </div>
    <br>
    <div class="card">
        <div class="flex justify-between items-center">
            <h3>Verlust</h3>
            <div class="text-text-gray">
                Aktuell {{ metrics.metrics_dict.training.loss|floatformat:-3 }} im Training
                und {{ metrics.metrics_dict.validation.loss|floatformat:-3 }} in der Validierung
            </div>
        </div>
        <canvas id="trainingAndValidationLoss"></canvas>
    </div>
    <br>
    <div class="card">
        <div class="flex justify-between items-center">
            <h3>Genauigkeit</h3>
            <div class="text-text-gray">
                Aktuell {{ metrics.metrics_dict.training.accuracy|floatformat:-3 }} im Training
                und {{ metrics.metrics_dict.validation.accuracy|floatformat:-3 }} in der Validierung
            </div>
        </div>
        <canvas id="trainingAndValidationAccuracy"></canvas>
    </div>
   {% endif %}
</div>
<!--Nice colors: view-source:https://www.chartjs.org/samples/latest/utils.js -->
<script src="/public/js/chart.js_2.9.4.js"></script>
<script>
    var lossGraphCanvas = document.getElementById("trainingAndValidationLoss").getContext("2d");
    var lossChart = new Chart(lossGraphCanvas, {
        type: 'line',
        data: {
            labels: {{ x_values }},
            datasets: [
                {
                    label: 'Trainingsverlust',
                    backgroundColor: 'rgb(255, 159, 64)',  // orange
                    borderColor: 'rgb(255, 159, 64)',
                    fill: false,
                    data: {{ y_values_loss_training }}
                },
                {
                    label: 'Validierungsverlust',
                    backgroundColor: 'rgb(54, 162, 235)',  // blue
                    borderColor: 'rgb(54, 162, 235)',
                    fill: false,
                    data: {{ y_values_loss_validation }}
                }
            ],
            options: {
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        }
    })


    var accuracyGraphCanvas = document.getElementById("trainingAndValidationAccuracy").getContext("2d");
    var accuracyChart = new Chart(accuracyGraphCanvas, {
        type: 'line',
        data: {
            labels: {{ x_values }},
            datasets: [
                {
                    label: 'Trainingsgenauigkeit',
                    backgroundColor: 'rgb(255, 159, 64)',  // orange
                    borderColor: 'rgb(255, 159, 64)',
                    fill: false,
                    data: {{ y_values_accuracy_training }}
                },
                {
                    label: 'Validierungsgenauigkeit',
                    backgroundColor: 'rgb(54, 162, 235)',  // blue
                    borderColor: 'rgb(54, 162, 235)',
                    fill: false,
                    data: {{ y_values_accuracy_validation }}
                }
            ],
            options: {
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        }
    })
</script>
{% endwith %}
{% endblock %}