{% load static %}

<!DOCTYPE html>

<!-- TODO: Set lang within settings -->
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">

    <!-- Vue.js specific files -->
    <link href="{% static '/js/editor.app.js' %}" rel="preload" as="script">
    <link href="{% static '/js/editor.chunk-vendors.js' %}" rel="preload" as="script">

    <title>SchoolNN – {% block title %}Startseite{% endblock %}</title>
</head>
<body class="bg-light-gray font-sans text-primary flex flex-wrap">
    <header class="w-full h-24 bg-white flex">
        <a href="{% url "home" %}" class="w-1/5 h-full bg-primary flex items-center px-8 z-50 xl:w-1/6 xl:px-12">
            <img src="{% static 'assets/logo.svg' %}" alt="SchoolNN Logo">
        </a>
        <div class="w-4/5 h-full bg-white shadow-base flex items-center px-12 z-40 xl:w-5/6">
            <div>
                <span class="font-bold"><a href="{% url "home" %}">Startseite</a></span>{% block breadcrumbs %}{% endblock %}
            </div>
        </div>
    </header>

    <nav class="w-1/5 h-screen-minus-header bg-white flex flex-col justify-between shadow-base z-40 xl:w-1/6">
        <ul class="pl-8 pt-20 space-y-8 xl:pl-12">
            <!--TODO: remove redundancy -->
            <li class="menu-item {% if "/datasets/" in request.path %}active{% endif %}" style="background-image: url('{% static 'assets/icons/datasets.svg' %} ')">
                <a href="{% url "dataset-list" %}">Datensätze</a>
            </li>
            <li class="menu-item {% if "/architectures/" in request.path %}active{% endif %}" style="background-image: url('{% static 'assets/icons/architectures.svg' %} ')">
                <a href="{% url "architecture-list" %}">Architekturen</a>
            </li>
            <li class="menu-item {% if "/project/" in request.path %}active{% endif %}" style="background-image: url('{% static 'assets/icons/projects.svg' %} ')">
                <a href="{% url "project-list" %}">Projekte</a>
            </li>
        </ul>

        <div class="bg-green h-32 w-full pl-8 py-8 text-white text-sm xl:text-base xl:pl-12">
            <p>Aktuelles Training</p>
            <p class="font-bold">78% Genauigkeit</p>
            <a href="" class="underline">Laufendes Training anzeigen</a>
        </div>
    </nav>

    <main class="w-4/5 p-12 xl:w-5/6">
        <div class="mb-8">
            {% block top %}{% endblock %}
        </div>
        {% block main %}{% endblock %}
    </main>
</body>


</html>