{% extends "base/base.html" %}

{% block top %}
    <h1>Willkommen bei SchoolNN!</h1>
{% endblock %}

{% block main %}
   <div class="card">
       <h2>Was ist SchoolNN?</h2>
       <section class="w-4/5 ">
           <p class="mt-4">
               SchoolNN ist eine Open-Source Webplattform, die es ermöglicht, neuronale Modellarchitekturen im Schulunterricht per „Drag-and-drop“ zu erstellen, zu trainieren und zu testen. Es können eigene Bilddatensätze durch das Hochladen und Labeln von Bildern erstellt werden, mit denen die erstellten Netze trainiert werden können.
           </p>
           <p>
               Die Arbeit mit SchoolNN lässt sich aufseiten der Lehrkräfte dabei gut in ein didaktisches Gesamtkonzept zur Thematik einbauen. Die Realisierung als Web-App ermöglicht es, die Software ohne Installation auf herkömmlichen Schulrechnern ausführen zu können.
           </p>
           <p>
               Schülerinnen und Schüler erhalten durch SchoolNN einen anschaulichen Überblick über den gesamten Entstehungsprozess eines neuronalen Netzes. Zudem lernen sie experimentell auch die Grenzen der Technologie kennen: Ein schlechter oder zu kleiner Trainingsdatensatz wird beispielsweise in einer schlechten Leistungsfähigkeit des trainierten Netzes zu Buche schlagen, was den Stellenwert der Qualität der Trainingsdaten unterstreicht.
           </p>
           <p>
               So bedeutend die Fortschritte im Bereich der künstlichen Intelligenz sind, so wichtig ist es auch, die folgende Generation über die Technologie aufzuklären. SchoolNN soll dazu einen Beitrag leisten.
           </p>
       </section>
   </div>
{% endblock %}
