{% extends "base/base.html" %}
{% load breadcrumbs %}

{% block title %}Projekt erstellen{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}
    {% breadcrumb "Projekt erstellen" %}
{% endblock %}

{% block top %}
    <h1>Projekt erstellen</h1>
{% endblock %}

{% block main %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <!-- TODO: Knopf übersetzen -->
        <input type="submit" class="" value="Projekt anlegen">
    </form>
{% endblock %}
