{% extends "base/base.html" %}

{% load breadcrumbs static %}

{% block title %}Projekt bearbeiten{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}

    {% url "project-details" project.id as detail_url %}
    {% breadcrumb project.name detail_url %}

    {% if step == "dataset" %}
        {% breadcrumb "Datensatz wählen" %}
    {% elif step == "architecture" %}
        {% breadcrumb "Modellarchitektur bearbeiten" %}
    {% elif step == "parameters" %}
        {% breadcrumb "Trainings-Parameter bearbeiten" %}
    {% else %}
        {% url "project-edit" project.id as edit_url %}
        {% breadcrumb "Projekteinstellungen" edit_url %}
    {% endif %}
{% endblock %}

{% block top %}
    {% if step == "dataset" %}
        <h1>Datensatz wählen</h1>
    {% elif step == "architecture" %}
        <h1>Modellarchitektur bearbeiten</h1>
    {% elif step == "parameters" %}
        <h1>Trainings-Parameter bearbeiten</h1>
    {% else %}
        <h1>Projekteinstellungen</h1>
    {% endif %}
{% endblock %}

{% block main %}
    {% if step == "dataset" %}
        {% include "project/partials/dataset-select-form.html" %}
    {% elif step == "architecture" %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="custom_architecture">Architektur</label>
            <select class="block mb-8" name="custom_architecture" id="custom_architecture">
                <option disabled selected value> -- Auswählen -- </option>
                {% for architecture in architectures %}
                    <option value="{{ architecture.id }}">{{ architecture.name }}</option>
                {% endfor %}
            </select>
            <input class="button-standard w-auto" type="submit" value="Architektur laden"/>
        </form>
        <hr class="my-6">
        {% include "editor/partials/editor.html" %}
    {% elif step == "parameters" %}
        {% include "project/partials/parameter-form.html" %}
    {% else %}
        {% include "project/partials/project-settings-form.html" %}
    {% endif %}
{% endblock %}
