{% extends "base/base.html" %}
{% load breadcrumbs %}

{% block title %}Projekte{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}
{% endblock %}

{% block main %}
    <h1>Projektübersicht</h1>
    <hr>
    <ul>
        {% for project in projects %}
            <li class="">
                <a href="{% url "project-details" project.id %}">{{ project.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <br>

    <a href="{% url "project-create" %}">Neues Projekt erstellen</a>
{% endblock %}
