{% extends "base/base.html" %}
{% load breadcrumbs %}

{% block title %}Projekte{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Projekte" "project-list" %}
{% endblock %}

{% block main %}
    <div class="flex items-center justify-between mb-6">
        <h1>Projekte</h1>
        <a class="button-standard-add" href="{% url "project-create" %}">Projekt erstellen</a>
    </div>
        {% for project in projects %}
            <li class="">
                <a href="{% url "project-details" project.id %}">{{ project.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <br>

    <a href="{% url "project-create" %}">Neues Projekt erstellen</a>
{% endblock %}
