{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Bild der Klasse {{label.name}} hinzufügen{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Datensätze" "dataset-list" %}
    {% url "dataset-detail" dataset.id as detail_url %}
    {% url "dataset-edit" dataset.id as edit_url %}
    {% breadcrumb dataset.name detail_url %}
    {% breadcrumb "Bearbeiten" edit_url %}
{% endblock %}

{% block top %}
    <h1>Bild der Klasse {{label.name}} hinzufügen</h1>
{% endblock %}

{% block main %}
    <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="hidden" name="label" value="{{label.id}}">
                    <input type="hidden" name="dataset" value="{{dataset.id}}">
                    {{form}}
                </div>

                <a class="button-standard" href="{% url 'label-detail' pk=label.id %}">
                    Zurück
                </a>
                <input type="submit" class="w-44 button-standard" value="Bild hochladen" />
    </form>
{% endblock %}
