{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Klasse: &bdquo;{{ label.name }}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Datensätze" "dataset-list" %}
    {% url "dataset-detail" label.dataset.id as detail_url %}
    {% url "label-detail" label.id as label_detail_url %}
    {% url "dataset-edit" label.dataset.id as edit_url %}
    {% breadcrumb label.dataset.name detail_url %}
    {% breadcrumb label.name label_detail_url %}
{% endblock %}

{% block top %}
    <h1>Klasse: &bdquo;{{ label.name }}&ldquo;</h1>
    <a href="{% url 'label-edit' pk=label.id %}" class="button-standard">
        <p>Bearbeiten</p>
    </a>
{% endblock %}

{% block main %}

    <section class="card w-full mb-4">
        <div class="flex items-center space-x-4 mb-6">
            <img class="h-6 w-6" src="{% static "assets/icons/documents.svg" %}">
            <h3>Allgemeines</h3>
        </div>

        <table class="w-full md:w-1/2 xl:w-2/5">
            <tr>
                <td class="font-semibold">ID</td>
                <td>{{ label.id }}</td>
            </tr>
            <tr>
                <td class="font-semibold">Datensatz</td>
                <td>
                    <a class="font-bold text-accent" href="{% url 'dataset-detail' pk=label.dataset.id %}">{{label.dataset.name}}</a>
                </td>
            </tr>
        </table>
    </section>

    <section class="card w-full mb-4">
        <div class="flex items-center space-x-4 mb-6">
            <img class="h-6 w-6" src="{% static "assets/icons/documents.svg" %}">
            <h3>Bild hinzufügen</h3>
        </div>

        <a href="{% url 'label-addimage' %}?label={{label.id}}&dataset={{label.dataset.id}} ">
                <button class="button-standard">Bild hinzufügen</button>
        </a>
    </section>

    <section class="card w-full mb-4">
        <div class="flex items-center space-x-4 mb-6">
            <img class="h-6 w-6" src="{% static "assets/icons/documents.svg" %}">
            <h3>Bilder</h3>
        </div>

        <div class="flex flex-wrap">
            {% if image_count > 0 %}
                <form method="post" action="{% url 'dataset-label' pk=label.dataset.id %}">
                    {% csrf_token %}

                    <input type="hidden" name="id" value="-1">
                    <input class="w-full button-inverted border-red text-red" type="submit" value="Zuordnung löschen">

                    <div class="mt-6">
                        {{ form }}
                    </div>
                </form>
            {% else %}
                <p>Es sind keine Bilder der Klasse zugeordnet.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
