{% extends "base/base.html" %}
{% load static %}

{% block main %}
    <div class="p-10">
        <h3 class="font-bold text-3xl mb-8">Label bearbeiten</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-6">
                {{ form.as_p }}
            </div>
            <a class="cursor-pointer bg-selected p-2 pl-4 pr-4 rounded-xl text-white border-selected border-2 hover:border-selected hover:bg-white hover:text-selected shadow-md" href="javascript:history.back()">Zurück</a>
            <input type="submit" value="Speichern" class="cursor-pointer bg-selected p-2 pl-4 pr-4 rounded-xl text-white border-selected border-2 hover:border-selected hover:bg-white hover:text-selected shadow-md">
        </form>
    </div>
{% endblock %}