{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Architecture: {{ architecture.name }}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Architekturen" "architecture-list" %}
    {% url "architecture-create" as arch_create_url %}
    {% breadcrumb architecture.name %}
{% endblock %}

{% block top %}
    <h1>Architektur „{{ architecture.name }}“</h1>
    <div class="space-x-4">
        <a class="button-standard" href="{% url 'architecture-edit' architecture.id %}">Architektureinstellungen</a>
        <a class="button-inverted border-red text-red" href="{% url "architecture-delete" architecture.id %}">Architektur löschen</a>
    </div>
{% endblock %}

{% block main %}
    <div class="space-y-8 my-8">
        <section class="card">
            <div class="flex items-center space-x-4 mb-6">
                <img class="h-6 w-6" src="{% static "assets/icons/documents.svg" %}">
                <h3>Allgemeines</h3>
            </div>
            <table class="w-1/4">
                <tr>
                    <td class="font-semibold">ID</td>
                    <td>{{ architecture.id }}</td>
                </tr>
                <tr>
                    <td class="font-semibold">Ersteller</td>
                    <td>{{ architecture.user.username }}</td>
                </tr>
                <tr>
                    <td class="font-semibold">Erstellt am</td>
                    <td>{{ architecture.created_at | date:"d.m.Y \u\m H:i"}}</td>
                </tr>
                <tr>
                    <td class="font-semibold">Zuletzt geändert am</td>
                    <td>{{ architecture.updated_at | date:"d.m.Y \u\m H:i" }}</td>
                </tr>
            </table>
        </section>

        <section class="card">
            <div class="flex items-center space-x-4 mb-6">
                <img class="h-6 w-6" src="{% static "assets/icons/architectures.svg" %}">
                <h3>Modellarchitektur</h3>
            </div>
            <p class="mb-4">Drücke auf Editor, um die Architektur <b>{{ architecture.name }}</b> einzusehen.</p>
            <a class="button-inverted" href="{% url 'architecture-editor' architecture.id %}">Editor</a>
        </section>
    </div>
{% endblock %}