{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Architektur „{{ architecture.name }}“{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Architekturen" "architecture-list" %}
    {% url "architecture-details" architecture.id as detail_url %}
    {% url "architecture-delete" architecture.id as delete_url %}
    {% breadcrumb architecture.name detail_url %}
    {% breadcrumb "Löschen" delete_url %}
{% endblock %}

{% block top %}
    <h1>Architektur „{{ architecture.name }}“ löschen</h1>
{% endblock %}

{% block main %}
    <p class="my-8 card">Möchtest du die Architektur „{{ architecture.name }}“ wirklich löschen?</p>

    <form method="POST">
        {% csrf_token %}
        <div class="space-x-4">
            <a class="button-inverted" href="{% url "architecture-detail" architecture.id %}">&larr; Abbrechen</a>
            <input class="button-standard w-auto border-red bg-red" type="submit" value="Architektur löschen"/>
        </div>
    </form>
{% endblock %}
