{% extends "base/base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block title %}Architektur „{{ architecture.name }}“{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Architekturen" "architecture-list" %}
    {% url "architecture-details" architecture.id as detail_url %}
    {% url "architecture-edit" architecture.id as edit_detail_url %}
    {% breadcrumb architecture.name detail_url %}
    {% breadcrumb "Architektureinstellungen" edit_detail_url %}
{% endblock %}

{% block top %}
    <h1>Einstellungen der Architektur „{{ architecture.name }}“</h1>
{% endblock %}

{% block main %}
    <div class="mb-4">
        <form method="post">
            {% csrf_token %}

            <div class="mb-4">
                {{ form.as_p }}
            </div>
            <div class="space-x-4">
                <a class="button-inverted" href="{% url "architecture-detail" architecture.id %}">&larr; Abbrechen</a>
                <input type="submit" value="Speichern" class="button-standard w-32">
            </div>
        </form>
    </div>
{% endblock %}